{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<body>
    <div class="about-developer-container">
        <h1>Hi There!</h1>
        <div class="developer-info">
            <img src="/static/test.jpg" alt="Developer Image" width="200">
        </div>
        <div class="developer-text">
            <p><strong>Name:</strong> Amina Lotfy Alcafory</p>
            <p><strong>Email:</strong> aminaalcafory146@gmail.com/p>
            <!-- Add any additional information about the developer here -->
        </div>
    </body>
{% endblock %}
<!-- Include the CSS file -->
<link rel="stylesheet" type="text/css" href="static/styles.css">
